<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Agregar repuestos</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
</head>
<body>
	<form th:action="crearOrdenTrabajo" th:object="${ordenDeTrabajo}"
		method="post">
		<label>Seleccionar repuesto</label>
			<select th:field="${listaOrdenRepuestosB}">
				<option th:each="r : ${repuestos}" th:value="${r.getIdRepuesto()}" th:text="${r.getNombreRepuesto()}"></option>
			</select>
	</form>
</body>
</html>