body{
  background-color: rgba(35, 35, 35, 0.91);
  color:rgb(236, 236, 236);
  font-family: monospace;
}

table {
  margin:auto;
  padding-top: 2em;
  padding-bottom: 2em;
  align-items: center;
  text-align: center;

}

img{
  width: 150px;
  height: 150px;
}

td {
  background-color: rgba(0, 0, 0, 0.36);
  border-bottom: 1px solid black;
}
